/* _sass/_variables.scss */

// Add !default to allow SASS to use your variables safely
$max-content-width: 930px !default;
$code-bg-color-dark: #1f2430 !default;
$global-theme-color: #004471 !default;
$global-hover-color: #002b49 !default;

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "Source Code Pro", monospace !default;
